/* --- global Styles --- */
html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}
img {
  border:none;
  vertical-align:middle;
}
.col > img, .col .modal-trigger > img{
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.modal.bottom-sheet {
  max-height: 67%;
}
